@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #040404 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  border: 1px solid #fe2858;
  color: white !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-zinc-900 text-foreground;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}


.clip{
  clip-path: path("M0,0H328A20,20 0,0,1 348,20L348,18A20,20 0,0,0 368,38L380,38A20,20 0,0,1 400,58V260A0,0 0,0,1 400,260H0A0,0 0,0,1 0,260V0A0,0 0,0,1 0,0Z");
  /* border: 1px solid #2a2a2a; */

 }

 /* .notification {
  position: absolute;
  border: 2px solid gainsboro;
  width: 38px;
  height: 30px;
  transform: translate(10%, -35%);
  right: 0.75rem;
  top: 0.75rem;
  z-index: 20;
} */

 .notification {
  position: absolute;
  width: 38px;
  height: 30px;
  transform: translate(10%, -35%);
  right: 0.75rem;
  top: 0.75rem;
  z-index: 20;
} 



.bb {
  border: 2px solid blue;
}

.bgr {
  border: 2px solid rgba(9, 212, 9, 0.936);
}

.by {
  border: 2px solid yellow;
}
.br {
  border: 2px solid red;
}

.bmain {
  border: 2px solid #fe2858;
}


/*  */

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.radial-swirl {
  position: absolute;
  inset: 0;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.radial-swirl::before {
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: conic-gradient(from 0deg, #fe285860, #2af0ea30, transparent);
  filter: blur(80px);
  animation: spin-slow 20s linear infinite;
}
